html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
nav{
    padding: 3%;
    box-shadow: 0px 0px 6px 1px rgb(195, 195, 195);
    z-index: 900;
}
.navbar-brand{
    font-size: 200%;
}
a{
    color: black !important;
    text-decoration: none !important;
}
/* HOME SECTION CSS */
#home{
    height: 100vh;
    display: flex;
    flex-direction: row;

}
.circle{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00B4D8;
    clip-path: circle(600px at left -90px);
}
#section1{
    width: 100%;
    height: 80vh;
    margin-top: 12vh;
    position: absolute;
    overflow: hidden;
    display: flex;

    
}
#section1 h2{
    float: right;
    font-family: 'Lato', sans-serif;
    margin-left: 8%;
    margin-top: 5%;
    width: 55%;
    font-size: 400%;
    z-index: 800;
}
#section1 h1{
    position: absolute;
    font-family: 'Archivo Black', sans-serif;
    top: 0;
    right: 0;
    width: 40%;
    line-height: 95%;
    height: 80vh;
    background: #fff;
    color: #000;
    font-size: 1700%;
    text-align: center;
    mix-blend-mode: screen;
    font-weight: 900;
    

}
/* TO CHANGE TO DARK MODE: */
    /* #section1 h1{
        background: black;
        color: white;
        mix-blend-mode: darken;
    } */
/* IT SHOULD HAVE THESE PROPERTIES WHEN SWITCHED TO DARK MODE */

#section1 video{
    object-fit: cover;
    right: 0;
    position: absolute;
    height: 100%;
    width: 40%;
}
@media (max-width:1291px){
    #section1 h2{
        margin-top: 3%;
        margin-left: 5%;
        transition: 0.5s;
    }
}
@media (max-width:991px){
    #section1 h1{
        font-size: 1200%;
        line-height: 82%;
        transition: 0.5s;

    }
    #section1 h2{
        font-size: 275%;
        transition: 0.5s;
    }
    #section1{
        height: 55vh;
        transition: 0.5s;
    }
    .circle{
        clip-path: circle(400px at left -20px);
    }
}
@media (max-width:691px){
    #section1 h1{
        font-size: 950%;
        line-height: 80%;
        transition: 0.5s;
        width: 50%;
    }
    #section1 h2{
        font-size: 180%;
        transition: 0.5s;
        margin-left: 2%;
        margin-top: 7vh;
    }
    .circle{
        clip-path: circle(250px at left -20px);
    }

}
/* HOME SECTION CSS ENDS*/







/* TESTIMONIALS CSS */
#test{
    padding-bottom: 5%;
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards{
    position: relative;
    width: 430px;
    height: 330px;
    display: flex;
    margin: 30px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 20px 20px 20px 40px;
    color: white;
    box-shadow: 0px 0px 12px 3px rgb(170, 170, 170);
}
.first{
    background: linear-gradient(135deg,#000280,#00B4D8);
}
.second{
    background: linear-gradient(135deg,#0063c0,#90E0EF);
}
.cards h2{
    color: black;
    font-weight: bolder;
}
.cards img{
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: translateX(-50%);
    transition: 0.5s;
    height: 350px;
}
.cards:hover img{
    left: 75%;
    height: 400px;
}
.review{
    position: relative;
    width: 60%;
    transition: 0.5s;
    opacity: 0;
    left: 20%;
}
.cards:hover .review{
    left: 0%;
    opacity: 1;
}

@media(max-width:991px){
    .cards{
        width: 480px;
        transition: 0.5s
    }
    
}
@media(max-width:490px){
    .cards{
        width: 360px;
        height: 260px;
        transition: 0.5s;
    }
}
/* TESTIMONIALS CSS ENDS*/

/* FEATURES CSS */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 5%;
    font-size: 17px;
  }
  
  .tab button:hover {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none !important;
  }

  .tab button.active {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none !important;
  }    
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
#buying{
    width: 100%;
    position: relative;
    justify-items: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 130%;
    height: 80vh;
    padding-bottom: 5%;
}
#all-tabs{
    width: 70vw;
}
.tabcontent{
    padding-top: 4vh;
}
.tabcontent {
    animation: fadeEffect 0.3s; 
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
td {
    text-align: center;
   }
@media(max-width:750px){
    #buying{
        font-size: 110%;
    }
    #all-tabs{
        width: 85vw;
    }
}
@media(max-width:650px){
    #buying{
        font-size: 100%;
    }    
}
@media(max-width:487px){
    #all-tabs{
        width: 92vw;
    }
    #TechnicalDetails{
        width: 96vw;
    }
    #buying{
        font-size: 95%;
    } 
}
@media(max-width:450px){
    .tab button{
        margin-right: 0;
        font-size: small;
        padding: 3%;
    }
}
/* FEATURES CSS ENDS */

/* SWIPER CSS STARTS */
.mySwiper {        
    padding: 2%;
    margin-top: 20vh;
    /* height: 90vh; */
}
.swiper-slide{
    width: 90vw;
    /* height: 90vh; */
}
.clips{
  width: 100%;
  height: 100%;
}
.description{
position: absolute;
  bottom: 10%;
  left: 10vw;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 60%;
  padding: 20px;
  z-index: 100;
}
@media(max-width:987px){
    .description{
        width: 100%;
        left: 0;
    }
}
@media(max-width:857px){
    .description{
        bottom: 15%;
    }
}
@media(max-width:757px){
    .description{
        font-size: 90%;
    }
}
@media(max-width:587px){
    .description{
        font-size: 80%;
    }
}
/* SWIPER CSS ENDS */
